<app-header [appName]="appName" (toggleSidebar)="onToggleSidebar()"></app-header>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav class="sidenav" [opened]="sidebarMode" mode="side">
    <app-sidebar></app-sidebar>
    <!-- Otras cosas específicas de tu sidenav si es necesario -->
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-card class="custom-card" fxFlex="80">
      <router-outlet></router-outlet>
    </mat-card>
  </mat-sidenav-content>
</mat-sidenav-container>