  <mat-nav-list>
    <a mat-list-item routerLink="/gestionar-autores" routerLinkActive="router-link-active">Administrar Autores</a>
    <a mat-list-item routerLink="/gestionar-libros" routerLinkActive="router-link-active">Administrar Libros</a>
    <a mat-list-item routerLink="/gestionar-clientes" routerLinkActive="router-link-active">Administrar Clientes</a>
    <a mat-list-item routerLink="/registrar-prestamos" routerLinkActive="router-link-active">Registrar Prestamos</a>
    <a mat-list-item routerLink="/reportes" routerLinkActive="router-link-active">Reportes</a>
  </mat-nav-list>
