<mat-toolbar color="primary">
  <button mat-icon-button (click)="toggleSidebar.emit()" class="menu-button" matTooltip="Abrir/Cerrar menu">
    <mat-icon>menu</mat-icon>
  </button>

  <a routerLink="/" class="app-name no-link-style">Biblioteca</a>

  <span class="spacer"></span>

  <button mat-icon-button class="custom-icon-button" matTooltip="Login">
    <mat-icon>person</mat-icon>
  </button>
  <button mat-icon-button class="custom-icon-button" matTooltip="Registrarse">
    <mat-icon>person_add</mat-icon>
  </button>
</mat-toolbar>